@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --bg:hsl(204, 43%, 93%);
  --bg1: #FAF4F4;
  --bg2: #f5f0f0;
  --bg3: #f9f4f4;
  --bg4: #f5f5fa;
  --bg5: #f0f0f5;
  --bg6: #f2f2f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg1: #1F1F29;
    --bg2: #17171F;
    --bg3: #13131a;
    --bg4: #292727;
    --bg5: #1f1c1c;
    --bg6: #1a1616;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient {
  animation: gradientMovement 8s linear infinite;
  background-image: linear-gradient(to left,#ec4899,#0ea5e9,#875df5);
  @apply bg-200% bg-clip-text text-transparent
}

@keyframes gradientMovement {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
